<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doulingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

    <header></header>


    <section>

        <nav>
            <div id="div_logo">
                <a href="#"><img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Duolingo_logo.svg/1280px-Duolingo_logo.svg.png"></a>
            </div>
        
            <div id="nav_bar">
                <div class="nav_item">
                    <a href="#">
                        <div class="nav_bar_img">
                            <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/784035717e2ff1d448c0f6cc4efc89fb.svg">
                        </div>
                        <span>Aprender</span>
                    </a>
                </div>
        
                <div class="nav_item">
                    <a href="#">
                        <div class="nav_bar_img">
                            <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/38dc6a042b0de3f6aeb44ff2aa70de73.svg">
                        </div>
                        <span>Loja</span>
                    </a>
                </div>
        
                <div class="nav_item">
                    <a href="#">
                        <div class="nav_bar_img">
                            <img src="https://d35aaqx5ub95lt.cloudfront.net/images/gems/45c14e05be9c1af1d7d0b54c6eed7eee.svg">
                        </div>
                        <span>Moedas</span>
                    </a>
                </div>
            </div>
        </nav>






        <main><div id="mai"></div></main>

        <aside>
            <div class="display">
                <div class="obj_curso">
                    <img src="https://blog.duolingo.com/content/images/2024/06/cover_Latin-Alive-and-ready-to-be-learned.png">
                </div>

                <div class="obj_curso_n">
                    <img src="https://cdn-icons-png.flaticon.com/256/10494/10494150.png">
                    <p>800</p>
                </div>

                <div class="obj_curso_n">
                    <img id="img1" src="https://d35aaqx5ub95lt.cloudfront.net/images/gems/45c14e05be9c1af1d7d0b54c6eed7eee.svg">
                    <p>1000</p>
                </div>

                <div class="obj_curso">
                    <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/38dc6a042b0de3f6aeb44ff2aa70de73.svg">
                </div>
            </div>

            <div id="legue">
                
                <div id="titulo_legue">
                    <h2>Gold Legue</h2>
                    <h3><a href="" >Viwer league</a></h3>
                </div>


                <div id="img_legue">
                        <div id="img_legue_2">
                            <div id="img_legue_3">
                                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/leagues/0e249b5f869b806da7406b815f4d60c6.svg">
                            </div>
                            <div id="legue_write">
                                <span>You're ranked <font color="green">#7</font></span>
                                <span>You've earned 1189 XP this week so far</span>
                            </div>
                        </div>
                </div>
            </div>

            <div id="Daily_quest">
                <div id="display_daily">
                    <h3>Daily Quest</h3>
                    <a href="">hello</a>
                </div>
                
                            <div id="miss">
                                <div id="miss_main">
                                    <img src="https://d35aaqx5ub95lt.cloudfront.net/images/goals/2b5a211d830a24fab92e291d50f65d1d.svg">
                                    <div id="miss_write">
                                        <div class="xp-container">
                                            <div class="icon"></div>
                                            <span class="xp-text">Earn 30 XP</span>
                                            <div class="progress-bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="reward"></div>
                                        </div><br>

                                        <div class="xp-container">
                                            <div class="icon"></div>
                                            <span class="xp-text">Earn 30 XP</span>
                                            <div class="progress-bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="reward_2"></div>
                                        </div>


                                        <div class="xp-container">
                                            <div class="icon"></div>
                                            <span class="xp-text">Earn 30 XP</span>
                                            <div class="progress-bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="reward_3"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
            </div>




            </aside>

        <footer>
            fdsgsdfg
        </footer>
    </section>
    
    <script src="{{ url_for('static', filename='scrypt.js') }}"></script>
</body>
</html>