body {
    background-color: rgb(19, 31, 36);
    color: white;
    margin: 0;
}

footer {
    height: 10vh;
    background-color: aqua;
}

section {
    display: flex;
    flex-direction: row;
}

main {
    height: 80vh;
    flex: 1;
}

aside {
    height: 80vh;
    width: 60vh;
    transition: all 0.3s ease; /* Suaviza a mudança */
    padding: 4vh;
}

.display {
    display: flex; /* Faz os elementos ficarem lado a lado */
    gap: 3vh; /* Adiciona espaço entre as imagens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 1vh; /* Adiciona um espaçamento interno */
}

.obj_curso {
    width: 5.5; /* Define um tamanho pequeno para a div */
    height: 6vh;
    overflow: hidden; /* Garante que a imagem não ultrapasse a div */
    position: relative;
    border-radius: 0.5vh; /* Opcional: arredonda os cantos */
}

.obj_curso img {
    width: 100%; /* Faz a imagem preencher a div */
    height: 100%;
    object-fit: cover; /* Recorta a imagem para preencher sem distorcer */
}

.obj_curso_n {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 3vh; /* Espaço entre imagem e texto */
    width: auto;
    padding: 0.5vh;
}
.obj_curso_n img {
    width: 5.5vh; /* Ajuste o tamanho da imagem */
    height: 6vh;
    object-fit: cover;
}

#legue{
    width: 100%;
    height: 30vh; /* Ajustado para o conteúdo */
    padding: 1vh;
    border: 3px solid rgb(65, 65, 65); /* Borda azul neon */
    border-radius: 20px;
}

#titulo_legue{
    display: flex; /* Faz os elementos ficarem lado a lado */
    gap: 0; /* Remove qualquer gap interno entre os itens */
    justify-content: space-between; /* Maximiza o espaço entre os itens */
    align-items: center; /* Alinha os itens verticalmente */
    padding: 1vh; /* Adiciona um espaçamento interno */
}
#titulo_legue a{
    color: #00F0FF; /* Azul neon */
    text-decoration: none; /* Remove sublinhado padrão */
    font-weight: bold; /* Deixa o texto mais destacado */
    transition: 0.3s;
}
#img_legue{
    margin-left: 4vh;
}
#img_legue_2{
    display: flex;
    gap: 5vh; 
}
#img_write{
    flex-direction: column;
    display: flex;
    gap: 1vh;
}